button {
  padding 5px 10px
  color black
  background-color #fff
  border 1px solid #3eaf7c
  border-radius 4px
  outline none
  cursor pointer
}

.block {
  display block
  padding 10px
}

input {
  width 300px
  outline none
  border 1px solid #3eaf7c
  border-radius 4px
  padding 5px 10px
  margin 5px
}

.wrap {
  display flex
}
.right {
  display inline-flex
  flex 1
  justify-content center
  align-items center
}